.page {
  min-width: 1100px; /* установлена минимальная ширина страницы */
  max-width: 1600px; /* установили ограничение по максимальной ширине */
  margin: 0 auto; /* для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
