.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 0.5s;
}
